<br />
<header>
  <h1>Todos</h1>
  <button
    mat-raised-button
    color="primary"
    (click)="newTodoModal = !newTodoModal"
  >
    New Todo
  </button>
</header>

<table *ngIf="todos.length; else noTodos">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Creation date</th>
      <th>Edit date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of todos; let idx = index" (click)="showModal(data)">
      <td>{{ idx + 1 }}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.creationDate }}</td>
      <td>{{ data.editDate }}</td>

      <td>
        <span>
          <button mat-button color="primary" (click)="editTodo($event, data)">
            Edit
          </button>
          <button
            mat-button
            color="warn"
            (click)="removeTodoConfirm($event, data.id)"
          >
            Delete
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noTodos>
  <div class="noTodos-message">
    <h1>No todos</h1>
    <p>Please add new todo...</p>
  </div>
</ng-template>

<app-modalform
  *ngIf="isModalOn"
  [todo]="modalData"
  (close)="closeModal()"
  [isEditMode]="editMode"
></app-modalform>

<div class="newTodo-form" *ngIf="newTodoModal">
  <mat-card>
    <div class="mat-card-close">
      <button
        mat-icon-button
        color="primary"
        aria-label="Close"
        (click)="closeModal()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-card-title>New Todo</mat-card-title>
    <hr />
    <br />
    <form class="form" [formGroup]="form" (ngSubmit)="newTodoConfirm()">
      <mat-form-field class="full-width" color="black">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error
          *ngIf="form.get('title').invalid && form.get('title').touched"
        >
          Field must be not empty
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Decription</mat-label>
        <textarea formControlName="description" matInput></textarea>
        <mat-error
          *ngIf="
            form.get('description').invalid && form.get('description').touched
          "
        >
          Field must be not empty
        </mat-error>
      </mat-form-field>
      <div class="mat-card-buttons-wrap">
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Add
        </button>
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="closeModal()"
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div class="confirm-modal" *ngIf="confirmModal">
  <mat-card *ngIf="addConfirm">
    <p>Are you sure want to add new todo?</p>
    <div class="mat-card-buttons-wrap">
      <button mat-stroked-button color="primary" (click)="submit()">Yes</button>
      <button mat-stroked-button color="primary" (click)="closeConfirm()">
        Cancel
      </button>
    </div>
  </mat-card>

  <mat-card *ngIf="deleteConfirm">
    <p>Are you sure want to delete ?</p>
    <div class="mat-card-buttons-wrap">
      <button mat-stroked-button color="primary" (click)="removeTodo()">
        Yes
      </button>
      <button mat-stroked-button color="primary" (click)="closeConfirm()">
        Cancel
      </button>
    </div>
  </mat-card>
</div>
