<div class="container">
  <nav>
    <mat-toolbar>
      <a
        mat-button
        routerLinkActive="active"
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a mat-button routerLinkActive="active" [routerLink]="['/todos']"
        >Todos</a
      >
      <a mat-button routerLinkActive="active" [routerLink]="['/login']"
        >Login</a
      >
      <a mat-button [routerLink]="['/login']" (click)="logout($event)"
        >Logout</a
      >
    </mat-toolbar>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
