<div class="container">
  <nav>
    <mat-toolbar>
      <a
        mat-button
        routerLinkActive="active"
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        mat-button
        routerLinkActive="active"
        [routerLink]="['/todos']"
        *ngIf="authService.isAuthenticated()"
        >Todos</a
      >
      <a
        mat-button
        routerLinkActive="active"
        [routerLink]="['/login']"
        *ngIf="!authService.isAuthenticated()"
        >Login</a
      >
      <a
        mat-button
        (click)="logout($event)"
        *ngIf="authService.isAuthenticated()"
        >Logout</a
      >
    </mat-toolbar>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
