.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.842);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    max-width: 400px;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
    .mat-card-close {
      display: flex;
      justify-content: flex-end;
    }
    .mat-card-buttons-wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  .description {
    background-color: #fff;
  }
}
